<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
    <title>Articles</title>
</head>
<body>
<script src="//unpkg.com/alpinejs" defer></script>
<nav style="background-color: rgb(60, 60, 60)"
        class="flex items-center justify-between flex-wrap bg-white py-4 lg:px-12 shadow border-solid border-t-2 border-blue-700">
    <div class="flex justify-between lg:w-auto w-full lg:border-b-0 pl-6 pr-2 border-solid border-b-2 border-gray-300 pb-5 lg:pb-0">
        <div class="flex items-center flex-shrink-0 text-gray-800 mr-16">
            <span class="font-semibold text-xl tracking-tight" style="color: white">JD News</span>
        </div>
        <div class="block lg:hidden ">
            <button
                    id="nav"
                    class="flex items-center px-3 py-2 border-2 rounded text-blue-700 border-blue-700 hover:text-blue-700 hover:border-blue-700">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>
                        Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="menu w-full lg:block flex-grow lg:flex lg:items-center lg:w-auto lg:px-3 px-8">
        <div class="text-md font-bold text-red-800 lg:flex-grow search_space">
            <a href="/"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Home
            </a>
            <a href="/?category=business"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Business
            </a>
            <a href="/?category=entertainment"
               class=" block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Entertainment
            </a>
            <a href="/?category=general"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                General
            </a>
            <a href="/?category=health"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Health
            </a>
            <a href="/?category=science"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Science
            </a>
            <a href="/?category=sports"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Sports
            </a>
            <a href="/?category=technology"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white px-4 py-2 rounded hover:bg-red-800 mr-2">
                Technology
            </a>
        </div>
        <!-- This is an example component -->
        <div class="relative mx-auto text-gray-600 lg:block hidden">
            <form action="/" method="get">
                <label>
                    <input class="border-2 border-red-800 bg-white h-10 pl-2 pr-8 rounded-lg text-sm focus:outline-none"
                           type="search" name="search" placeholder="Search" required>
                </label>
                <button type="submit" class="absolute right-0 top-0 mt-3 mr-2">
                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                         id="Capa_1" x="0px" y="0px"
                         viewBox="0 0 56.966 56.966" style="background-color(0 0 56.966 56.966);"
                         xml:space="preserve"
                         width="512px" height="512px">
                <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,
                        5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
                        s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,
                        14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,
                        2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,
                        6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
              </svg>
                </button>
            </form>
        </div>
    </div>
</nav>

<section class="text-red-900 body-font">
    <div class="container px-5 py-5 mx-auto">
        <div class="flex flex-wrap -m-4">
            <!--start here-->
            {% for article in articles %}
                <div class="p-4 md:w-1/3">
                    <div class="h-full border-2 border-maroon-200  rounded-lg overflow-hidden">
                        <div class="w-full">
                            <div class="w-full flex p-2">
                                <div class="p-2 ">
                                </div>
                                <div class="pl-2 pt-2 ">
                                    <p class="font-bold">{{ article.getTitle }}</p>
                                    <p style="color: whitesmoke" class="text-xs">{{ article.getPublishedAt|date("d/m/Y h:i") }}</p>
                                </div>
                            </div>
                        </div>

                        {% if article.getPicture %}
                            <img class="lg:h-48 md:h-36 w-full object-cover object-center"
                                 src="{{ article.getPicture }}" alt="Placeholder"/>
                        {% else %}
                            <img class="lg:h-48 md:h-36 w-full object-cover object-center"
                                 src="/views/pictures/imageNotFound.jpg" alt="Placeholder"/>
                        {% endif %}
                        <div class="p-4">
                            {% if article.getAuthor %}
                                <h2 class="tracking-widest text-xs title-font font-bold text-blue-900 mb-1 uppercase ">
                                    Author: {{ article.getAuthor }}</h2>
                            {% else %}
                                <h2 class="tracking-widest text-xs title-font font-bold text-blue-900 mb-1 uppercase ">
                                    Author: Unknown</h2>
                            {% endif %}
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ article.getDescription }}</h1>
                            <div class="flex items-center flex-wrap text-blue-600 hover:text-white">
                                    <p class="inline-flex items-center">
                                        <a href="{{ article.getUrl }}" target="_blank">Read News</a>
                                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor"
                                             stroke-width="2" fill="none" stroke-linecap="round"
                                             stroke-linejoin="round">
                                            <path d="M5 12h14"></path>
                                            <path d="M12 5l7 7-7 7"></path>
                                        </svg>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--End here-->
        </div>
    </div>
</section>
</body>
</html>